@import '../variables';

.header {
  height: 94px;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0 0;
  }

  &__logo {
    display: flex;
    transition: all .2s linear;

    &--img {
      width: 250px;
      transition: all .1s linear;
    }
  }

  &__data {
    width: 650px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &--town {
      p {
        color: rgb(0, 0, 0);
        font-size: 18px;
        line-height: 1.2;
        font-weight: 500;

        &:last-of-type {
          color: rgb(255, 105, 0);
        }
      }
    }

    &--telephone {
      p {
        font-size: 1.2rem;
        line-height: 1.2;
        &:last-of-type {
          margin-top: 4px;
          color: rgb(153, 153, 153);
          font-size: .9rem;
          line-height: .8;
          font-family: Dodo, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
          font-weight: 500;
        }
      }
    }
  }

  &__profile {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
  }
}

@media (max-width: 1024px) {

  .header {

    &__data {
      &--town {
        display: none;
      }

      &--telephone {
        display: none;
      }
    }
  }

}

@media (max-width: 560px) {

  .header {

    &__logo {

      &--img {
        width: 200px;
      }
    }
  }

}

@media (max-width: 425px) {

  .header {

    &__logo {
      width: 140px;
      margin-right: 5px;

      &--img {
        width: 100%;
        height: 100%;
      }
    }
  }

}

@media (max-width: 320px) {

  .header {

    &__logo {
      width: 110px;
      margin-right: 5px;

      &--img {
        width: 100%;
        height: 100%;
      }
    }
  }

}



